:root {
    --main-bg-color: #fbfaf5;
    --nav-bg-color: #191616;
    --navclose-color: #de3f51;
    --border-color: rgb(139, 139, 139);
    --font-icon-color: #1c1b1f;                   
    --highlight-color: #000000;
    --button-hover-color: #c1c2bd;
  }

  /* theme dark or light */
  /* html[data-theme='light'] {
    --main-background-color: #e8e9e2;
    --border-color: rgb(139, 139, 139);
    --font-icon-color: #1c1b1f;                   
    --highlight-color: #000000;
    --button-hover-color: #c1c2bd;
  }
  
  html[data-theme='dark'] {
      ---main-background-color: #11141d;
      --border-color: #464235;
      --font-icon-color: #d4ccaf;                   
      --highlight-color: #f1d98a;
      --button-hover-color: #272c38; 
  }*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body[data-nav="true"] > ::-webkit-scrollbar-track{
    background-color: var(--nav-bg-color);
 
  }
  ::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c2bd; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--navclose-color); 
  }

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: var(--nav-bg-color);
    overflow-x: hidden;
  }
  
h1, h2, h3, a {
    font-family: 'League Spartan';
  }


  
main {
    /* opacity: 10%; */
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: transform 600ms cubic-bezier(.13,.53,.38,.97);
    transition-duration: 500ms;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

body[data-nav="true"] {
    overflow: hidden;
}

body[data-nav="true"] > main {
    transform: translateX(-35vw);
}

body[data-nav="true"] main *  {
    filter:contrast(0.6) grayscale();
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
    transition-delay: 50ms;
  }

nav {
    height: 100%;
    width: 35vw;
    position: fixed;
    left: 65vw;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
}

#nav-links {  
    display: grid;
    gap: clamp(1rem, 2vw, 1.5rem);
    margin-top: clamp(4rem, 2vw, 3rem);
    padding: 0rem clamp(3rem, 2vw, 2rem);
    transform: translateX(10vw) scale(0.9);
    transition: transform 600ms cubic-bezier(.13,.53,.38,.97); 
}

body[data-nav="true"] > nav > #nav-links {
    transform: translateX(0%) scale(1);
}

#nav-links > .nav-link {
    text-decoration: none;
}

#nav-links > .nav-link img, h2{
    pointer-events: all;
}

#nav-links > .nav-link > .nav-link-label {
    width: fit-content;
    color: white;
    font-size: 1.5rem;
    margin: 0rem;
}

#nav-links > .nav-link > .nav-link-image {
    width: max(18vw);
    aspect-ratio: 2 / 1;
    left: 0;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

.logo {
    height: 5vh;
    width: fit-content;
    position: fixed;
    z-index: 3;
    left: 30;
    top: 3rem;
    border: none;
    cursor: pointer;
    transition: transform 600ms cubic-bezier(.13,.53,.38,.97);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}

.logo #logopng {
    display: none;
    height: 5vh;
}

.logo #logosvg{
    height: 100%;
}
#nav-toggle {
    height: 5vh;
    width: 5vh;
    position: fixed;
    z-index: 3;
    right: 10;
    top: 3rem;
    transform: translateX(-50%);
    background-color: var(--navclose-color);
    border: none;
    border-radius: 5rem;
    outline: none;
    /* box-shadow: 0vh 0vh 4vh rgba(0 0 0 / 35%); */
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"] > #nav-toggle {
    background-color: var(--navclose-color);
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: var(--main-bg-color);
    font-size: 2vh;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

body[data-nav="true"] > #nav-toggle > i {
    color: var(--nav-bg-color);
}
body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}



.hero {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--main-bg-color); */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.ending {
    height: fit-content;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-block: 6rem;
}


.title-card {
    /* padding-top: 10dvw; */
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    /* padding-top: 10%; */
}

.text-card {
    display: flex;
    flex-direction: column;
}
.hero h1 {
    font-size: 25vw;
    font-weight: 900;
    /* letter-spacing: -1rem; */
    line-height: 100%;
    margin: 0;
    margin-bottom: -9vw;
    
}

.hero h2 {
    font-size: 5vw;
    font-weight: 900;
    line-height: 100%;
}

.ending h2 {
    font-size: 5vw;
    font-weight: 900;
    line-height: 100%;
    margin: 0;
}

.ending h3 {
    font-weight: 500;
}


.vidsection {
    height: max-content ;
    width: 84vw;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3rem;
    margin-top: -15vh;
    padding-bottom: 10%;
}

.vidsection video {
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    overflow: hidden;
} 

.section {

    height: 100vh;
    width: 100vw;
    /* background-color: var(--main-bg-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    padding-top: 3rem;
    font-size: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sectionx {
    /* background-color: var(--main-bg-color); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 6rem;
}

.showreels{ 
    height: 80vh;
    width: 84vw;
    border-radius: 3rem;
    z-index: 8;
    overflow: hidden ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showreels img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-deck {
    height: fit-content;
    width: 84vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 3rem;
    /* padding-block: 6rem; */
    border-radius: 3rem;
}

    .card {
    width: 100%;
    /* object-fit: cover; */
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212); */
    background: var(--font-icon-color);
    display: flex;
    border-radius: 1em;
    justify-content: center;
    position: relative;
    transition: all .4s;
   }

   .card a {
    color: var(--navclose-color);
    font-weight: 600;
    font-size: 1.2em;
    position: absolute;
    display: flex;
    align-self: flex-end;
    padding-bottom: 1em;
   }

   .card::before {
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    font-size: 0.8em;
    font-weight: 700;
   }
   
   .card div {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.212); */
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: var(--navclose-color);
    overflow: hidden;
   }
   
   .card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

   .card:hover div {
    transform: translateY(-3.4em);
   }

@media screen and (max-width: 1100px ) {

    .logo{
        height: 5vh;
        position: fixed;
        cursor: pointer;
        top: 2.5rem;
        left: 30;
    }
    
    .logo #logopng {
        display: flex;
    }

    .logo #logosvg {
        display: none;
    }

    body[data-nav="true"] .logo {
        transform: translateX(18vw);
        filter: invert(); 
    }

    .card-deck {
        height: fit-content;
        flex-direction: column;
        gap: 4em;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .card {
        background: var(--font-icon-color);
        width: 84vw;
        height: 22vw;
    }

    .card a {
        text-align:start;
        color: var(--main-bg-color);
    }

    .card div {
        transform: translateY(-3em);
    }
    
    .card:hover {
        height: 50vw;
    }

    .card:hover div {
        transform: translateY(-3em);
    }
}


@media screen and (max-width: 720px ) {
    main {
        /* opacity: 10%; */
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    
    body[data-nav="true"] > main {
        transform: translateX(-85vw);
    }
    
        nav {
            height: 100%;
            width: 85vw;
            position: fixed;
            left: 20vw;
            bottom: 0px;
            z-index: 1;
            overflow: hidden;
            pointer-events: none;
        }
   
        #nav-links {  
            display: grid;
            gap: clamp(1rem, 2vw, 2rem);
            margin-top: clamp(10rem, 2vw, 3rem);
            padding: 0rem clamp(1rem, 2vw, 2rem);
            transform: translateX(5vw) scale(0.9);
            transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
        }
        
        body[data-nav="true"] > nav > #nav-links {
            transform: translateX(0%) scale(1);
        }
        
        #nav-links > .nav-link {
            text-decoration: none;
        }

        #nav-links > .nav-link > .nav-link-label {
            color: #fbfaf5;
            font-size: 3.25rem;
            font-weight: 800;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }
        
        #nav-links > .nav-link > .nav-link-image {
            display: none;
            /* width: max(45vw);
            aspect-ratio: 2.5 / 1;
            border-radius: 0.5rem;
            margin-top: 0.75rem;
            object-fit: cover; */
        }

        .logo{
            height: 5vh;
            position: fixed;
            cursor: pointer;
            top: 2.5rem;
            left: 30;
        }
        
        .logo #logopng {
            display: flex;
        }

        .logo #logosvg {
            display: none;
        }

        body[data-nav="true"] .logo {
            transform: translateX(18vw);
            filter: invert(); 
        }
        #nav-toggle {
            height: 5vh;
            width: 5vh;
            position: fixed;
            z-index: 3;
            right: 10;
            top: 2.5rem;
            transform: translateX(-50%);
            border: none;
            border-radius: 5rem;
            outline: none;
            cursor: pointer;
            transition: transform, background-color;
            transition-timing-function: ease;
            transition-duration: 400ms;
        }

        #nav-toggle:hover {
            transform: translateX(-50%) scale(1.04);
        }

        #nav-toggle:active {
            transform: translateX(-50%) scale(0.96);
        }


        body:not([data-nav="true"]) > #nav-toggle:hover > .open {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        #nav-toggle > i {
            color: var(--navclose-color);
        } 

        body[data-nav="true"] > #nav-toggle > .close {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        .hero{
            height: 80vh;
            width: 100vw;
        }
        
        .vidsection {
            height: max-content ;
            width: 84vw;
            aspect-ratio: 16 / 9;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            object-fit: cover;
            overflow: visible;
            margin-top: -20vh;
        }
        
        .vidsection video {
            border-radius: 1rem;
        } 

        .section-title {
            font-size: 6vw;
            text-justify: left ;
        }

        .showreels {
        overflow:visible;
        }

        .showreels img {
            border-radius: 1rem;
        }
/* 
        .section {
            height: 100vh;
            width: 100vw;
            background-color: var(--main-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
        } */
        
        .card-deck {
            height: fit-content;
            flex-direction: column;
            gap: 4em;
            padding-top: 4rem;
            padding-bottom: 2rem;
        }

        .card {
            background: var(--font-icon-color);
            width: 84vw;
            height: 54vw;
            /* object-fit: cover; */
            /* aspect-ratio: 4 / 4; */
        }

        .card a {
            color: var(--main-bg-color);
            padding-bottom: .7em;
        }

        .card div {
            transform: translateY(-3em);
        }
        
        .card:hover {
            width: 84vw;
            height: 54vw;
        }

        .card:hover div {
            transform: translateY(-3em);
        }
    }