:root {
    --main-bg-color: #fbfaf5;
    --nav-bg-color: #191616;
    --border-color: rgb(139, 139, 139);
    --font-icon-color: #1c1b1f;                   
    --highlight-color: #000000;
    --button-hover-color: #c1c2bd;
  }

  /* theme dark or light */
  /* html[data-theme='light'] {
    --main-background-color: #e8e9e2;
    --border-color: rgb(139, 139, 139);
    --font-icon-color: #1c1b1f;                   
    --highlight-color: #000000;
    --button-hover-color: #c1c2bd;
  }
  
  html[data-theme='dark'] {
      ---main-background-color: #11141d;
      --border-color: #464235;
      --font-icon-color: #d4ccaf;                   
      --highlight-color: #f1d98a;
      --button-hover-color: #272c38; 
  }*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  body[data-nav="true"] > ::-webkit-scrollbar-track{
    background-color: var(--nav-bg-color);
 
  }
  ::-webkit-scrollbar-track {
    background-color: var(--main-bg-color);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c2bd; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b68e71; 
  }

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #191616;
    overflow-x: hidden;
  }
  
h1, h2, h3 {
    font-family: 'League Spartan';
    font-weight: 800;
  }


  
main {
    /* opacity: 10%; */
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: transform 600ms cubic-bezier(.13,.53,.38,.97);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


body[data-nav="true"] > main {
    transform: translateX(-35vw);
}

nav {
    height: 100%;
    width: 35vw;
    position: fixed;
    left: 65vw;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
}

#nav-links {  
    display: grid;
    gap: clamp(1rem, 2vw, 1.5rem);
    margin-top: clamp(4rem, 2vw, 3rem);
    padding: 0rem clamp(3rem, 2vw, 2rem);
    transform: translateX(10vw) scale(0.9);
    transition: transform 600ms cubic-bezier(.13,.53,.38,.97); 
}

body[data-nav="true"] > nav > #nav-links {
    transform: translateX(0%) scale(1);
}

#nav-links > .nav-link {
    text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.25rem;
    margin: 0rem;
    text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
    width: max(18vw);
    aspect-ratio: 2 / 1;
    left: 0;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
}

.logosvg {
    height: 5vh;
    position: fixed;
    z-index: 9;
    margin-left: 3vw;
    top: 3rem;
    border: none;
    cursor: pointer;
    /* mix-blend-mode: difference; */
    /* transition: transform, background-color;
    shadow: 0vh 0vh 4vh rgba(0 0 0 / 35%); 
    border-radius: 5rem;
    outline: none;
    background-color: #b68e71;
    transition-timing-function: ease;
    transition-duration: 400ms;*/
}

#nav-toggle {
    height: 5vh;
    width: 5vh;
    position: fixed;
    z-index: 3;
    right: 10;
    top: 3rem;
    transform: translateX(-50%);
    background-color: #b68e71;
    border: none;
    border-radius: 5rem;
    outline: none;
    /* box-shadow: 0vh 0vh 4vh rgba(0 0 0 / 35%); */
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
    transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"] > #nav-toggle {
    background-color: rgb(255, 255, 255);
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#nav-toggle > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 2vh;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

body[data-nav="true"] > #nav-toggle > i {
    color: #b68e71;
}
body[data-nav="true"] > #nav-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}



.hero, .ending {
    height: 75vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.title-card {
    /* padding-top: 10dvw; */
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.hero h1 {
    font-size: 25vw;
    font-weight: 900;
    /* letter-spacing: -1rem; */
    line-height: 100%;
    margin: 0;
    margin-bottom: -5dvw;
    align-self: center;
    
}

.hero h2 {
    font-size: 5vw;
    font-weight: 900;
    line-height: 100%;
    margin: 0;
    align-self: flex-end;
}

.ending h2 {
    font-size: 5vw;
    font-weight: 900;
    line-height: 100%;
    margin: 0;
    align-self: center; 
}

.ending h3 {
    align-self: center; 
    font-weight: 500;
  }

.section {
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.card-showreels{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showreels{ 
    height: 80vh;
    width: 80vw;
    /* align-content: center;
    justify-content: center; */
    /* background-image: url("https://images.unsplash.com/photo-1533280385001-c32ffcbd52a7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-position: center 0%;
    background-size: cover;
    border-radius: 3rem;
    z-index: 4;
    overflow: hidden;
}

.showreels video, .showreels img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

    @media screen and (max-width: 720px) {
        main {
            /* opacity: 10%; */
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 2;
            transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }


        body[data-nav="true"] > main {
            transform: translateX(-85vw);
        }

        nav {
            height: 100%;
            width: 85vw;
            position: fixed;
            left: 20vw;
            bottom: 0px;
            z-index: 1;
            overflow: hidden;
            pointer-events: none;
        }

        #nav-links {  
            display: grid;
            gap: clamp(1rem, 2vw, 2rem);
            margin-top: clamp(10rem, 2vw, 3rem);
            padding: 0rem clamp(1rem, 2vw, 2rem);
            transform: translateX(5vw) scale(0.9);
            transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
        }

        body[data-nav="true"] > nav > #nav-links {
            transform: translateX(0%) scale(1);
        }

        #nav-links > .nav-link {
            text-decoration: none;
        }

        #nav-links > .nav-link > .nav-link-label {
            color: #fbfaf5;
            font-size: 3.25rem;
            font-weight: 800;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }

        #nav-links > .nav-link > .nav-link-image {
            display: none;
            /* width: max(45vw);
            aspect-ratio: 2.5 / 1;
            border-radius: 0.5rem;
            margin-top: 0.75rem;
            object-fit: cover; */
        }

        .logosvg {
            height: 5vh;
            position: fixed;
            z-index: 9;
            margin-left: 3vw;
            top: 3rem;
            border: none;
            cursor: pointer;
            /* mix-blend-mode: difference; */
            /* transition: transform, background-color;
            shadow: 0vh 0vh 4vh rgba(0 0 0 / 35%); 
            border-radius: 5rem;
            outline: none;
            background-color: #b68e71;
            transition-timing-function: ease;
            transition-duration: 400ms;*/
        }

        #nav-toggle {
            height: 5vh;
            width: 5vh;
            position: fixed;
            z-index: 3;
            right: 10;
            top: 2rem;
            transform: translateX(-50%);
            border: none;
            border-radius: 5rem;
            outline: none;
            cursor: pointer;
            transition: transform, background-color;
            transition-timing-function: ease;
            transition-duration: 400ms;
        }

        #nav-toggle:hover {
            transform: translateX(-50%) scale(1.04);
        }

        #nav-toggle:active {
            transform: translateX(-50%) scale(0.96);
        }


        body:not([data-nav="true"]) > #nav-toggle:hover > .open {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        #nav-toggle > i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0.9);
            color: rgb(246, 231, 224);
            font-size: 2vh;
            opacity: 0;
            transition: transform, opacity;
            transition-timing-function: ease;
            transition-duration: 400ms;
        }

        body[data-nav="true"] > #nav-toggle > .close {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }

        

    }